#map {
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
